
FinalProject/Saved/Telemetry/Telemetry.json
FinalProject/Saved/Logs/FinalProject.log
FinalProject/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
FinalProject/Intermediate/CachedAssetRegistry_0.bin
FinalProject/Saved/Autosaves/PackageRestoreData.json
FinalProject/Saved/Config/CrashReportClient/UECC-Windows-A9F9943F48FC9D1F5652688A5F5A4DF3/CrashReportClient.ini
FinalProject/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
FinalProject/Saved/Logs/FinalProject-backup-2024.11.19-23.17.18.log
FinalProject/Saved/Logs/FinalProject.log
FinalProject/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
