
FinalProject/Saved/Config/MacEditor/GameUserSettings.ini
FinalProject/Saved/Config/CrashReportClient/UECC-Mac-CA718862B841D3119B6D13AD483CBD6C/CrashReportClient.ini
FinalProject/Saved/AutoScreenshot.png
FinalProject/Intermediate/CachedAssetRegistry_0.bin
FinalProject/Saved/Config/CrashReportClient/UECC-Mac-7BACA80E44424F62B845339AE319ECDF/CrashReportClient.ini
FinalProject/Saved/Config/MacEditor/EditorPerProjectUserSettings.ini
FinalProject/Saved/Telemetry/Telemetry.json
